button {
  font-size: 16px;
  line-height: 16px;
  border: 1px solid var(--primary);
  border-radius: 3px;
  padding: 1rem 1.75rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

button.filled {
  background-color: transparent;
  color: white;
  &:hover {
    background-color: var(--theme);
  }
}

button.outlined {
  background-color: transparent;
  // color: var(--primary);
}

button.small {
  font-size: 14px;
  line-height: 14px;
  padding: 4px 12px;
}
