button {
  font-size: 16px;
  line-height: 16px;
  border: 1px solid var(--primary);
  border-radius: 1000px;
  padding: 8px 24px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

button.filled {
  background-color: var(--primary);
  color: white;
  &:hover {
    background-color: transparent;
    color: var(--primary);
  }
}

button.outlined {
  background-color: transparent;
  color: var(--primary);
}

button.small {
  font-size: 14px;
  line-height: 14px;
  padding: 4px 12px;
}
