.resultTable :global {
  width: 100%;
  height: 546px;
  overflow: auto;
  background: linear-gradient(180deg, #1d0d80 0%, rgba(0, 0, 62, 0) 100%);
  table {
    width: 100%;
    height: fit-content;
    background-color: #141461;
    border-collapse: collapse;
    border-radius: 3px;
    thead {
      position: sticky;
      top: 0;
      background-color: #252595;
      font-weight: bold;
      font-size: 14px;
      tr th {
        padding: 15px 25px;
        text-transform: uppercase;
      }
    }
    td,
    th {
      text-align: center;
    }
    tbody {
      tr {
        white-space: nowrap;
        border-bottom: 1px solid #182280;
        border-top: 1px solid #182280;
        &:nth-child(odd) {
          background-color: #0001;
        }
        &:nth-child(even) {
          background-color: #0004;
        }
      }
      td {
        padding: 8px;
        line-height: 20px;
      }
    }
  }
}
