@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500;600;700&display=swap');
@import './mixin/button';

html {
  font-size: 62.5%;
}

body {
  background-color: #202020;
  font-family: 'Urbanist';
  color: white;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
  font-size: 15px;
}

:root {
  --primary: rgba(0, 136, 204);
  --theme: rgba(121, 121, 121, 0.486);
  --color-violet: #2056cc;
  --color-light-violet: #358eff;
}

h1 {
  font-size: 36px;
  line-height: 48px;
}

.container {
  max-width: 110rem;
  width: 100%;
  position: relative;
  margin: -3rem auto;
  display: flex;
  align-items: center;
}

main {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
  height: fit-content;
  background-color: transparent;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error {
  color: rgb(255, 0, 0);
}

.scroll {
  display: inline-block;

  .inner {
    height: 300%;
    width: 100%;
    content: '.';
  }

  // Simple
  &--simple::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &--simple::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }
  &--simple::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
  }
  &--simple::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
  }
  &--simple::-webkit-scrollbar-thumb:active {
    background: rgba(255, 255, 255, 0.9);
  }
}
