@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500;600;700&display=swap');
@import './mixin/button';

body {
  background-color: #1f1f1f;
  font-family: 'Urbanist';
  color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
}

:root {
  --primary: rgba(0, 136, 204);
  --theme: rgba(121, 121, 121, 0.486);
}

h1 {
  font-size: 36px;
  line-height: 48px;
}

.container {
  margin: 0px 12px;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error {
  color: rgb(255, 0, 0);
}

.scroll {
  overflow-y: scroll;
  display: inline-block;

  .inner {
    height: 300%;
    width: 100%;
    content: '.';
  }

  // Simple
  &--simple::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &--simple::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }
  &--simple::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
  }
  &--simple::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
  }
  &--simple::-webkit-scrollbar-thumb:active {
    background: rgba(255, 255, 255, 0.9);
  }
}
