.home :global {
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 90%;

    .top-menu {
      display: flex;
      align-items: center;
      gap: 8px;
      width: 100%;
      justify-content: space-between;

      @media (max-width: 960px) {
        flex-direction: column;
      }

      input {
        width: 100%;
        flex-grow: 1;
      }
      .button-group {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        button {
          width: 160px;
        }
      }
    }
    input {
      color: white;
      padding: 8px;
      outline: none;
      border-radius: 3px;
      border: 1px solid gray;
      width: 100%;
      line-height: 25px;
      transition: all 0.15s ease-in-out;
      background: transparent;

      &:focus {
        border-color: var(--primary);
      }
    }
  }

  main {
    padding-top: 24px;
    display: flex;
    gap: 12px;
  }
}
