.connectionStatus :global {
  display: flex;
  align-items: center;
  gap: 8px;
  * {
    vertical-align: middle;
  }
  .dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
  }
  .red {
    background-color: red;
  }

  .green {
    background-color: #1cdd66;
  }
}
