.tableList :global {
  display: grid;
  min-width: 200px;
  height: 100%;
  background-color: #20202088;
  border: 1px solid;
  border-radius: 3px;
  list-style-type: none;
  li {
    text-decoration: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    &:hover,
    &.active {
      background-color: var(--theme);
    }
  }
}
