@font-face {
  font-family: 'Urbanist';
  src: local('Urbanist'),
    url('/assets/fonts/Urbanist-Regular.woff2') format('woff2');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
body {
  background-color: #14161f;
  color: white;
  font-family: 'Urbanist';
}
.App {
  font-size: 1.1rem;
}

textarea {
  background: none;
  color: white;
  font-size: 0.9em;
  width: 70%;
  display: block;
  border: gray 1px solid;
  border-radius: 8px;
  margin-right: 30px;
  outline: none;
  padding: 8px;
  transition: all 0.15s ease-in-out;
}

textarea:focus {
  border-color: #1c6ea4;
}

table {
  border: 1px solid #1c6ea4;
  text-align: left;
  border-collapse: collapse;
}

thead {
  font-weight: bold;
  text-align: center;
  border: 2px solid #999;
}

th,
td {
  border: 1px solid #aaa;
  padding: 5px;
}

button {
  background: none;
  font-family: Urbanist;
  font-size: 1.1rem;
  line-height: 1.75;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.12);
  min-width: 120px;
}

button:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.08);
}

.error {
  color: #922;
}

.table-list {
  list-style-type: none;
  padding: 0px;
  max-width: 200px;
  border: 1px solid;
  margin: 0 10px;
}
.table-list button {
  display: block;
  width: 100%;
}
